{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Iniciar Sesión
{% endblock %}

{% block content %}
  <section class="section">
    <form>
      <div class="field">
        <label class="label" for="">Email</label>
        <input class="input" type="email" name="" id="" />
      </div>
      <div class="field">
        <label class="label" for="">Contraseña</label>
        <input class="input" type="password" name="" id="" />
      </div>
    </form>
  </section>

  {% comment %}
  <div class="">
    <div class="">
      <section class="">
        <form class="">
          <h1 class="is-size-5 mb-1 has-text-weight-bold">Bienvenido a todosorteos!</h1>
          <p class="is-italic mb-5">Prepárate para ganar increíbles premios</p>
          <p class="has-text-weight-bold mb-2">Iniciar sesión</p>
          <div class="field">
            <label class="label" for="">Email</label>
            <input class="input" type="email" name="" id="" />
          </div>
          <div class="field">
            <label class="label" for="">Contraseña</label>
            <input class="input" type="password" name="" id="" />
          </div>

          <button class="button is-primary">Ingresar</button>
        </form>
      </section>
    </div>
  </div>
  {% endcomment %}
{% endblock %}
