{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Registrarse
{% endblock %}

{% block content %}
  <div class="signup">
    <form method="post" class="form">
      {% csrf_token %}
      <div>
        <h2>Bienvenido a todosorteos</h2>
        <h4>Prepárate para ganar increíbles premios</h4>
      </div>
      <div class="form-fields">
        <div class="form-field">
          <label class="label" for="id_email">Email</label>
          {{ form.email }}
        </div>

        <div class="form-field">
          <label class="label" for="id_first_name">Nombre</label>
          {{ form.first_name }}
        </div>
          
        <div class="form-field">
          <label class="label" for="id_last_name">Apellido</label>
          {{ form.last_name }}
        </div>

        <div class="form-field">
          <label class="label" for="id_password1">Contraseña</label>
          {{ form.password1 }}
        </div>

        <div class="form-field">
          <label class="label" for="id_password2">Confirmar contraseña</label>
          {{ form.password2 }}
        </div>

        <div class="form-field">
          <label class="label" for="id_phone_number">Nro. de teléfono</label>
          <div class="input-phone-number">
            {{ form.phone_number }}
          </div>
        </div>


        <div class="errors">
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="error">
                <p>{{ error }}</p>
              </div>
            {% endfor %}
          {% endif %}

          {% for field in form %}
            {% if field.errors %}
              {% for error in field.errors %}
                <div class="error">
                  <p>{{ error }}</p>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        <button class="btn-submit">Registrarse</button>
      </div>
      <div>
        <p>Ya tienes una cuenta?, <a href="{% url 'login' %}">iniciar sesión</a></p>
      </div>
    </form>
    <div class="background-login">
      <img src="{% static 'img/background-login.jpg' %}" alt="" />
    </div>
  </div>
{% endblock %}
