{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Registrarse
{% endblock %}

{% block content %}
  <div class="signup">
    <form method="post" class="form">
      {% csrf_token %}
      <div>
        <h2>Bienvenido a todosorteos</h2>
        <h4>Prepárate para ganar increíbles premios</h4>
      </div>
      <div class="form-fields">
        <h3>Registrarse</h3>
        <label class="label" for="id_email">Email</label>
        <input class="input" type="email" name="email" id="id_email" placeholder="Correo electrónico" />

        <label class="label" for="id_first_name">Nombre</label>
        <input class="input" type="text" name="first_name" id="id_first_name" placeholder="Nombre" />

        <label class="label" for="id_last_name">Apellido</label>
        <input class="input" type="text" name="last_name" id="id_last_name" placeholder="Apellido" />

        <label class="label" for="id_password1">Contraseña</label>
        <input class="input" type="password" name="password1" id="id_passsword1" placeholder="Constraseña" />

        <label class="label" for="id_password2">Confirmar contraseña</label>
        <input class="input" type="password" name="password2" id="id_passsword2" placeholder="Confirmar contraseña" />

        <label class="label" for="id_phone_number">Nro. de teléfono</label>
        <input class="input" type="tel" name="phone" id="id_phone_number" placeholder="Nro. de teléfono" />

        <button class="button">Registrarse</button>
        <small>Ya tienes una cuenta?, <a href="{% url 'login' %}"><b>iniciar sesión</b></a></small>
      </div>
    </form>
    <div class="background-login">
      <img src="{% static 'img/background-login.png' %}" alt="" />
    </div>
  </div>
{% endblock %}
