{% for lottery in lottery_list %}
  <a class="lottery" href="{% url 'lottery' lottery.pk %}">
    <div class="lottery-image">
      <img src="{{ lottery.image.url }}" alt="" />
    </div>
    <div class="lottery-info">
      <h4>{{ lottery.description }}</h4>
      {% if lottery.closed %}
        <p class="closed">Finalizado</p>
      {% else %}
      <p>
        <b>{{ lottery.price|floatformat:'.2f' }} $ x 1</b>
      </p>
      {% endif %}
        <p>
          <b>Fecha de cierre:</b> {{ lottery.closing_date|date:'d/m/Y' }}
        </p>
    </div>
  </a>
{% empty %}
  <div class="empty">
    <p>En estos momentos no tenemos sorteos disponibles. ¡Mantente al tanto de nuestras actualizaciones!</p>
  </div>
{% endfor %}
