{% load static %}
{% load lottery_extras %}

<form id="id_form_order_create" class="form" action="{% url 'order-create' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="dollar" value="{{ dollar }}" />

  <input type="hidden" name="user" value="{{ user.pk }}" />

  <input type="hidden" name="lottery" value="{{ lottery.pk }}" />

  <h3>Comprar tickets</h3>
  <div class="form-fields">
    <select id="id_quantity" class="form-field form-field-select" name="quantity" hx-on:change="set_amount(this.value)">
      <button><selectedcontent></selectedcontent></button>
      {% for num in select_number %}
        <option class="option" value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
    <input id="id_reference" class="form-field" name="reference" type="number" placeholder="Nro. de referencia" required />
    <button class="button" onclick="event.preventDefault();show_confirm(htmx.find('#id_quantity').value);">Comprar</button>
  </div>

</form>
