
{% load lottery_extras %}

<div hx-on::after-process-node="set_amount_order({{ order.lottery.price|multiply:dollar.exchange_rate }})">
  <h3>Pago móvil</h3>
  <h4>{{ order.lottery.description }} <span class="quantity">x 1</span></h4>
  <div class="field">
    <p>Cantidad tickets:</p>
    <p>
      <span id="id_order_quantity">{{ order.quantity }}</span>
    </p>
  </div>
  <div class="field">
    <p>Referencia:</p>
    <p>
      <span id="id_order_reference">{{  order.reference }}</span>
    </p>
  </div>
  <div class="field">
    <p>Monto total Bs.:</p>
    <p>
      <span id="id_order_amount_bs"></span>
    </p>
  </div>
  <hr />
  <div>
    <button class="button button-cancel" hx-on:click="htmx.toggleClass('#id_order_detail', 'hidden');">Cerrar</button>
  </div>
</div>
