{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Inicio
{% endblock %}

{% block content %}
  <div class="home">
    <section class="carousel" id="id_carousel">
      {% for carousel_image in carousel %}
        <a class="carousel-image {% if not forloop.first %}carousel-image-hide{% endif %}" href="{{ carousel_image.url }}"><img src="{{ carousel_image.image.url }}" alt="" /></a>
      {% endfor %}
      <button class="btn-carousel btn-prev" onclick="prevCarousel()"><img src="{% static 'img/prev.png' %}" alt="" /></button>
      <button class="btn-carousel btn-next" onclick="nextCarousel()"><img src="{% static 'img/next.png' %}" alt="" /></button>
    </section>
    <section class="section-lotteries">
      <h2 class="header-section">Sorteos</h2>
      <div class="lotteries" hx-get="{% url 'lotteries' %}" hx-trigger="load"></div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    var i_carousel = 0
    var carousel = document.getElementsByClassName('carousel-image')
    let carouselTimer;


    function nextCarousel() {
      carousel[i_carousel].classList.add('carousel-image-hide')
      i_carousel = i_carousel < carousel.length - 1 ? i_carousel + 1 : 0
      carousel[i_carousel].classList.remove('carousel-image-hide')
      clearTimeout(carouselTimer)
      carouselTimer = setTimeout(nextCarousel, 2000)

    }
    
    function prevCarousel() {
      carousel[i_carousel].classList.add('carousel-image-hide')
      i_carousel = i_carousel == 0 ? carousel.length - 1 : i_carousel - 1
      carousel[i_carousel].classList.remove('carousel-image-hide')
      clearTimeout(carouselTimer)
      carouselTimer = setTimeout(nextCarousel, 2000)

    }

    carouselTimer = setTimeout(nextCarousel, 2000)


  </script>
{% endblock %}
