{% extends 'core/base.html' %}

{% load static %}

{% block content %}
  <section class="section-lotteries">
    <div>
      <h2>Sorteos disponibles</h2>
      <div class="lotteries" hx-get="{% url 'lotteries' %}" hx-trigger="load"></div>
    </div>
  </section>


  {% comment %} <main class="home-page">
    <div class="home-image">
        <img src="{% static 'img/background.png' %}" alt="">
    </div>
    <div class="container container-lotteries">
      <h2>Sorteos disponibles</h2>
    </div>
  </main> {% endcomment %}
{% endblock %}
