{% extends 'core/base.html' %}
{% load static %}
{% load lottery_extras %}

{% block title %}
  {{ lottery.description }}
{% endblock %}

{% block content %}
  <section class="section-lottery">
    {% comment %}Lottery image{% endcomment %}
    <div class="lottery-image-tickets">
      <div class="lottery-image">
        <img src="{{ lottery.image.url }}" alt="" />
      </div>
      <div class="lottery-tickets">
        {% if not user.is_staff %}
          {% if user_tickets %}
            <h4>Mis tickets</h4>
            <div class="tickets">
              {% for ticket in user_tickets %}
                <div class="ticket">
                  <p>#{{ ticket.number }}</p>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p class="tickets-empty">Compra tus primeros tickets para participar.</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% comment %}Loterry info{% endcomment %}
    <div class="lottery-info">
      <h2>{{ lottery.description }}</h2>
      <div class="div-price">
        <p class="price">{{ lottery.price|floatformat:'.2f' }} $</p>
        <p class="ticket-1">x 1 ticket</p>
      </div>
      {% comment %}if user is_authenticated{% endcomment %}
      {% if user.is_authenticated %}
        {% comment %}if user is_staff{% endcomment %}
        {% if user.is_staff %}
          <h3>Opciones de administrador</h3>
          <div class="admin-options">
            <button class="button-admin-option" hx-get="{% url 'admin-order-list' lottery.pk %}" hx-target="#id_modal_admin" hx-on:click="htmx.removeClass('#id_modal_admin', 'hidden')">Ver pagos</button>
            <button class="button-admin-option">Cerrar sorteo</button>
          </div>
        {% else %}
          {% comment %}if user has pending order{% endcomment %}
          <div id="id_div_order_create" class="div-order-create" hx-get="{% url 'order-create' %}?payment_method=0&lottery={{ lottery.pk }}" hx-trigger="load"></div>
        {% endif %}
      {% else %}
        <div class="no-login">
          <p>
            <a href="{% url 'login' %}">Inicia sesión</a> o <a href="{% url 'signup' %}">regístrate</a> para participar en los sorteos.
          </p>
        </div>
      {% endif %}
    </div>
  </section>
  {% if user.is_staff %}
    <div class="modal modal-admin hidden" id="id_modal_admin" hx-on:click="htmx.addClass(this, 'hidden')"></div> 
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script>
    function changePaymentMethod() {
      htmx.ajax('GET', `{% url 'order-create' %}?payment_method=${htmx.find('#id_payment_method').value}&lottery={{ object.pk }}`, '#id_div_order_create')
    }
    
    
    window.onload = () => {
      changePaymentMethod()
    }
    
    /*
                       function formatCurrency(value) {
                          return Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(parseFloat(value))
                        }
                        function setAmount(payment_method, quantity = '1') {
                          if (payment_method == '0') {
                            htmx.find('#id_amount_bs').value = (parseFloat(quantity) * parseFloat("{{ dollar.exchange_rate|floatformat:'.2f' }}") * parseFloat("{{ lottery.price|floatformat:'.2f' }}")).toFixed(2)
                          } else {
                            htmx.find('#id_amount_usd').value = (parseFloat(quantity) * parseFloat("{{ lottery.price|floatformat:'.2f' }}")).toFixed(2)
                          }
                        }
                        function setAmountOrder(element, amount, payment_method) {
                          console.log(element, amount, payment_method)
                        
                          if (payment_method == '0') {
                            htmx.find(element).innerHTML = Intl.NumberFormat('ve-VE', { style: 'currency', currency: 'VEF' }).format(parseFloat(amount))
                          } else {
                            htmx.find(element).innerHTML = Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(parseFloat(amount))
                          }
                        }
                        window.onload = () => {
                          htmx.find('#id_lottery_price').innerHTML = formatCurrency("{{ lottery.price|floatformat:'.2f' }}")
                        }*/
  </script>
{% endblock %}

{% comment %}
{% block content %}
  <div>
    <section class="section-lottery">
      <div class="lottery-image">
        <img src="{{ lottery.image.url }}" alt="" />
      </div>
      <div class="lottery-info">
        <h2>{{ lottery.description }}</h2>
        <p class="lottery-data">
          <b>Cierre del sorteo:</b>{{ lottery.closing_date|date:'d/m/Y' }}
        </p>
        <p class="lottery-data">
          <b>Ticket:</b>{{ lottery.price|floatformat_dot }}$
        </p>
        {% if lottery.closed %}
          <div class="closed">
            <p>Sorteo finalizado.</p>
          </div>
        {% elif user.is_authenticated and not user.is_staff %}
          {% if not pending_order %}
            <div class="id_order_create" hx-get="{% url 'order-create' %}?lottery={{ object.pk }}" hx-trigger="load"></div>
            <div class="order-info">
              <div class="exchange-rate">
                <img src="{% static 'img/info.png' %}" alt="" />
                <p>
                  <b>Tasa de cambio:</b> {{ dollar.exchange_rate|floatformat_dot }} Bs.
                </p>
              </div>
              <hr />
              <div class="order-data order-data-dollar">
                <p class="data-name">Monto total $:</p>
                <p id="id_amount_dollar" class="data"></p>
              </div>
              <div class="order-data">
                <p class="data-name">Monto total Bs.:</p>
                <p id="id_amount_bs" class="data"></p>
              </div>
              <hr />
            </div>
            <div class="payment-info">
              <h4>Información de pago</h4>
              <hr />
              <h5>Pago móvil</h5>
              <div class="payment-data">
                <p class="data-name">Cédula</p>
                <p>12.345.678</p>
              </div>
              <div class="payment-data">
                <p class="data-name">Teléfono</p>
                <p>0412-345-6789</p>
              </div>
              <div class="payment-data">
                <p class="data-name">Banco</p>
                <p>Banco de Venezuela (0102)</p>
              </div>
            </div>
          {% else %}
            <p class="pending">Tienes una orden pendiente de revisión</p>
          {% endif %}
        {% else %}

        {% endif %}
        {% if user.is_staff %}
          <div class="staff-options">
            <h3>Opciones de administrador</h3>
            <div class="staff-options-buttons">
              <a href="{% url 'get-emails' lottery.pk %}" class="button">Descargar lista</a>
              <a hx-get="{% url 'order-admin-list' lottery.pk %}?filter" hx-target="#id_orders_admin" hx-on:click="htmx.toggleClass('#id_modal_orders_admin', 'hidden')" class="button">Ver tickets</a>
              {% if lottery.closed %}
                <a href="{% url 'lottery-open' lottery.pk %}" class="button">Volver a abrir</a>
              {% else %}
                <a href="{% url 'lottery-close' lottery.pk %}" class="button">Cerrar sorteo</a>
              {% endif %}
            </div>
          </div>
        {% elif user.is_authenticated %}
          <div class="orders">
            <h3>Ticket comprados</h3>
            {% for order in orders %}
              <div class="order">
                <a hx-get="{% url 'order-detail' order.pk %}" hx-target="#id_order_detail" hx-on:click="htmx.toggleClass('#id_order_detail', 'hidden')">Cantidad de tickets: {{ order.quantity }} - Nro. de referencia: {{ order.reference }}</a>
                <p class="status status-{{ order.status }}">{{ order.get_status_display }}</p>
              </div>
            {% empty %}
              <p class="empty">No estás participando en el sorteo.</p>
            {% endfor %}
          </div>
        {% else %}
          <div class="no-login">
            <p>
              <a href="{% url 'login' %}">Inicia sesión</a> o <a href="{% url 'signup' %}">regístrate</a> para participar en los sorteos.
            </p>
          </div>
        {% endif %}
      </div>
      <!-- Modals -->
      <div id="id_order_detail" class="order-detail hidden"></div>
      <div id="id_confirm" class="confirm hidden">
        <div>
          <h3>Confirmar pago móvil</h3>
          <h4>{{ lottery.description }} <span class="quantity">x <span id="id_check_quantity_2"></span></span></h4>
          <div class="field">
            <p>Cantidad tickets:</p>
            <p>
              <span id="id_check_quantity">1</span>
            </p>
          </div>
          <div class="field">
            <p>Referencia:</p>
            <p>
              <span id="id_check_reference">12345</span>
            </p>
          </div>
          <div class="field">
            <p>Monto total Bs.:</p>
            <p>
              <span id="id_check_amount_bs">{{ lottery.price|multiply:dollar.exchange_rate }}</span>
            </p>
          </div>
          <hr />
          <div>
            <button class="button button-cancel" hx-on:click="event.preventDefault();htmx.toggleClass('#id_confirm', 'hidden');">Cancelar</button>
            <button class="button" hx-on:click="htmx.find('#id_form_order_create').submit();">Enviar</button>
          </div>
        </div>
      </div>
      {% if user.is_staff %}
        <div id="id_modal_orders_admin" class="hidden">
          <div>
            <div class="modal-header">
              <h3>Tickets</h3>
              <button class="button-close" hx-on:click="htmx.toggleClass('#id_modal_orders_admin', 'hidden');"><img src="{% static 'img/close.png' %}" alt="" /></button>
            </div>
            <input type="text" class="input" name="filter" id="id_filter_ticket" hx-get="{% url 'order-admin-list' lottery.pk %}" hx-target="#id_orders_admin" hx-trigger="keyup" placeholder="Buscar ticket" />
            <div class="orders" id="id_orders_admin"></div>
          </div>
        </div>
      {% endif %}
      <div class="id_payment_method"></div>
    </section>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    function set_amount(quantity = 1) {
      htmx.find('#id_amount_dollar').innerHTML = Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(parseFloat(quantity * '{{ lottery.price|floatformat_dot }}').toFixed(2))
      htmx.find('#id_amount_bs').innerHTML = Intl.NumberFormat('ve-VE', { style: 'currency', currency: 'VES' }).format(parseFloat(quantity * '{{ dollar.exchange_rate|floatformat_dot }}' * '{{ lottery.price|floatformat_dot }}').toFixed(2))
    }
    function show_confirm(quantity) {
      console.log(quantity)
      let reference = htmx.find('#id_reference')
      if (reference.checkValidity()) {
        htmx.find('#id_check_quantity_2').innerHTML = quantity
        htmx.find('#id_check_quantity').innerHTML = quantity
        htmx.find('#id_check_reference').innerHTML = reference.value
        htmx.find('#id_check_amount_bs').innerHTML = Intl.NumberFormat('ve-VE', { style: 'currency', currency: 'VES' }).format(parseFloat(quantity * '{{ dollar.exchange_rate|floatformat_dot }} ' * '{{ lottery.price|floatformat_dot }}').toFixed(2))
    
        htmx.toggleClass('#id_confirm', 'hidden')
      } else {
        htmx.find('#id_reference').reportValidity()
      }
    }
    function set_amount_order(amount, quantity, id = '#id_order_amount_bs') {
      htmx.find(id).innerHTML = Intl.NumberFormat('ve-VE', { style: 'currency', currency: 'VES' }).format(amount * quantity)
    }
    
    window.onload = () => {
      set_amount()
    }
  </script>
{% endblock %}
{% endcomment %}
