{% load static %}

<header class="container-fluid">
  <nav>
    <ul>
      <li><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a></li>
    </ul>
    <ul>
      <li>
        <details class="dropdown">
          <summary>
            Menú
          </summary>
          <ul dir="rtl">
            <li><a href="">Sobre nosotros</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
