{% load static %}

<header class="d-flex">
  <div class="brand">
    <a href="">
      <img src="{% static 'img/logo.png' %}" alt="">
    </a>
  </div>
  <div class="btn-menu container-image" hx-on:click='htmx.toggleClass("#id_nav_header", "hidden")'>
    <img src="{% static 'img/btn-menu.png' %}" alt="">
  </div>
  <nav class="d-flex hidden" id="id_nav_header">
    <a class="d-flex" href="">
      <img src="{% static 'img/login.png' %}" alt="">
      Iniciar sesión
    </a>
    <a class="d-flex" href="">
      <img src="{% static 'img/team.png' %}" alt="">
      Sobre nosotros
    </a>
  </nav>
</header>
