
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1440px;


@mixin xs {
    @media (max-width: $sm) {
        @content
    }
}

;

@mixin sm {
    @media (min-width: $sm) {
        @content
    }
}

;

@mixin md {
    @media (min-width: $md) {
        @content
    }
}

;

@mixin lg {
    @media (min-width: $lg) {
        @content
    }
}

;