$white: #FFFFFF;
$black: #000000;

$primary-color: #701010;
$secondary-color: #D21E1E;
$tertiary-color: #EF8F8F;
$background-color: #191919;
$background-color-2: #262626;
$background-color-3: #0D0D0D;
$border-color: #525252;

$danger-color: #C37068;
$danger-color-2: #972b22;
$success-color: #68C379;
$success-color-2: #268337;
$warning-color: #967300;

$warning-color: #967300;
$info-color: #108dd6;
$info-color-2: #0e76b3;

$grey-900: hsl(0, 0%, 10%);
$grey-850: hsl(0, 0%, 15%);
$grey-800: hsl(0, 0%, 20%);
$grey-700: hsl(0, 0%, 30%);
$grey-600: hsl(0, 0%, 40%);
$grey-500: hsl(0, 0%, 50%);
$grey-400: hsl(0, 0%, 60%);
$grey-300: hsl(0, 0%, 70%);
$grey-200: hsl(0, 0%, 80%);
$grey-100: hsl(0, 0%, 90%);


