$white: #FFFFFF;
$black: #000000;

$primary-color: #701010;
$secondary-color: #D21E1E;
$tertiary-color: #EF8F8F;
$background-color: #191919;
$background-color-2: #262626;
$background-color-3: #0D0D0D;
$border-color: #525252;

$danger-color: #C37068;
$danger-color-2: #972b22;
$success-color: #68C379;
$success-color-2: #268337;
$warning-color: #967300;

$warning-color: #967300;
$info-color: #108dd6;

$gray-900: hsl(0, 0%, 10%);
$gray-850: hsl(0, 0%, 15%);
$gray-800: hsl(0, 0%, 20%);
$gray-700: hsl(0, 0%, 30%);
$gray-600: hsl(0, 0%, 40%);
$gray-500: hsl(0, 0%, 50%);
$gray-400: hsl(0, 0%, 60%);
$gray-300: hsl(0, 0%, 70%);
$gray-200: hsl(0, 0%, 80%);
$gray-100: hsl(0, 0%, 90%);


