.header {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.header .brand > a {
  display: flex;
}
.header .btn-menu {
  cursor: pointer;
  display: flex !important;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: all 0.1s;
}
.header .btn-menu:hover {
  background-color: #0A1523;
}
.header .nav {
  display: flex;
  position: absolute;
  top: calc(100% + 0.25rem);
  background-color: #0A1523;
  left: 0.25rem;
  right: 0.25rem;
  flex-direction: column;
  border-radius: 0.25rem;
  border: 1px solid #001D3D;
  gap: 0;
  z-index: 10;
}
.header .nav .nav-link {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  gap: 0.25rem;
  padding: 1rem;
  transition: all 0.1s;
  color: #FFFFFF;
  align-items: end !important;
  width: 100%;
  border-radius: 4px;
  border-bottom: 1px solid #001D3D;
}
.header .nav .nav-link img {
  width: 16px;
  height: 16px;
}
.header .nav .nav-link:hover {
  background-color: #001D3D;
}
.header .nav .nav-link:last-of-type {
  border-bottom: none;
}
@media (min-width: 768px) {
  .header .btn-menu {
    display: none !important;
  }
  .header .nav {
    position: static;
    display: flex !important;
    flex-direction: row;
    gap: 0.25rem;
    background-color: transparent;
    border: none;
  }
  .header .nav .nav-link {
    text-wrap: nowrap;
    border: none;
    padding: 0.75rem;
  }
}

/*@use '../variables' as *;
@use '../responsive' as *;


.form-aux {

    max-width: $sm;
    padding: 2rem;
    background-color: $background-color;









}*/
.login {
  display: flex;
  position: relative;
  min-height: calc(100vh - 68px);
}
.login .form {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #0B1019;
  width: 100%;
  max-width: none;
  margin: 0;
  border: none;
  border-radius: 0;
  height: auto;
}
.login .form > div {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.login .form > div:last-child {
  border: none;
}
.login .form .label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}
.login .form .input {
  background-color: transparent !important;
  border: 1px solid #003566;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}
.login .form .input:last-of-type {
  margin-bottom: 0.5rem;
}
.login .form .button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: #003566;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #003566;
  transition: all 0.1s;
}
.login .form .button:hover {
  background-color: #001D3D;
}
.login .form .errors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login .form .errors p {
  font-size: 0.875rem;
  font-weight: 600;
  color: #D93526;
}
.login .form:has(.error) .input {
  outline: 1px solid #AF291D;
}
.login .form .form-fields {
  display: flex;
  flex-direction: column;
}
.login .form small {
  font-size: 0.875rem;
}
.login .form small a,
.login .form small b {
  color: #FFC300;
}
.login .form h2 {
  font-weight: 300;
  margin-bottom: 0.75rem;
  color: #FFC300;
  font-size: 1.25rem;
}
.login .form hr {
  width: calc(100% + 4rem);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1.5rem -2rem;
}
.login .form h3 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}
.login .form h4 {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.login .background-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .login .form {
    max-width: 480px;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .login .form > div {
    padding: 2rem;
  }
}

.signup {
  display: flex;
  position: relative;
  min-height: calc(100vh - 68px);
}
.signup .form {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #0B1019;
  width: 100%;
  max-width: none;
  margin: 0;
  border: none;
  border-radius: 0;
  height: auto;
}
.signup .form > div {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.signup .form > div:last-child {
  border: none;
}
.signup .form .label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}
.signup .form .input {
  background-color: transparent !important;
  border: 1px solid #003566;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}
.signup .form .input:last-of-type {
  margin-bottom: 0.5rem;
}
.signup .form .button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: #003566;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #003566;
  transition: all 0.1s;
}
.signup .form .button:hover {
  background-color: #001D3D;
}
.signup .form .errors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.signup .form .errors p {
  font-size: 0.875rem;
  font-weight: 600;
  color: #D93526;
}
.signup .form:has(.error) .input {
  outline: 1px solid #AF291D;
}
.signup .form .form-fields {
  display: flex;
  flex-direction: column;
}
.signup .form small {
  font-size: 0.875rem;
}
.signup .form small a,
.signup .form small b {
  color: #FFC300;
}
.signup .form h2 {
  font-weight: 300;
  margin-bottom: 0.75rem;
  color: #FFC300;
  font-size: 1.25rem;
}
.signup .form hr {
  width: calc(100% + 4rem);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1.5rem -2rem;
}
.signup .form h3 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}
.signup .form h4 {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.signup .background-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .signup .form {
    max-width: 480px;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .signup .form > div {
    padding: 2rem;
  }
}

.section-lotteries {
  padding: 4rem 2rem;
  width: fit-content;
  margin: auto;
}
.section-lotteries h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}
.section-lotteries .lotteries {
  display: grid;
  gap: 0.75rem;
}
.section-lotteries .lotteries .lottery {
  box-shadow: 0 0 8px #000000;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  height: fit-content;
  background-color: #0A1523;
}
.section-lotteries .lotteries .lottery .lottery-image {
  width: 280px;
  height: 280px;
}
.section-lotteries .lotteries .lottery .lottery-info {
  padding: 1rem 0.75rem;
}
.section-lotteries .lotteries .lottery .lottery-info h4 {
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 1rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}
.section-lotteries .lotteries .lottery .lottery-info p,
.section-lotteries .lotteries .lottery .lottery-info b {
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
}
.section-lotteries .lotteries .lottery:hover {
  background-color: #001D3D;
}
.section-lotteries .lotteries .empty {
  grid-column: span 4;
  background-color: rgba(81, 180, 255, 0.05);
  padding: 1rem;
  border-radius: 0.25rem;
}
.section-lotteries .lotteries .empty p {
  color: #51B4FF;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .section-lotteries .lotteries {
    grid-template-columns: repeat(2, minmax(0, 280px));
  }
}
@media (min-width: 1024px) {
  .section-lotteries .lotteries {
    grid-template-columns: repeat(3, minmax(0, 280px));
  }
}
@media (min-width: 1280px) {
  .section-lotteries .lotteries {
    grid-template-columns: repeat(4, minmax(0, 280px));
  }
}
@media (max-width: 768px) {
  .section-lotteries .lotteries {
    grid-template-columns: 1fr;
  }
  .section-lotteries .lotteries .lottery-image {
    width: calc(100vw - 5rem) !important;
    height: calc(100vw - 5rem) !important;
    max-width: 480px;
    max-height: 480px;
  }
}

.section-lottery {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  max-width: 768px;
  margin: auto;
}
.section-lottery .lottery-image {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  width: calc(100vw - 3rem);
  height: calc(100vw - 3rem);
  max-width: calc(768px - 2rem);
  max-height: calc(768px - 2rem);
}
.section-lottery .lottery-info {
  padding: 1rem 0;
}
.section-lottery .lottery-info h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.875rem;
}
.section-lottery .lottery-info hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}
.section-lottery .lottery-info h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.section-lottery .lottery-info .lottery-data {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}
.section-lottery .lottery-info .lottery-data b {
  font-weight: 600;
}
.section-lottery .lottery-info .form {
  padding: 0;
}
.section-lottery .lottery-info .form .form-fields {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.section-lottery .lottery-info .form .form-fields button {
  margin: 0;
}
.section-lottery .lottery-info .form input,
.section-lottery .lottery-info .form select {
  padding: 0.75rem;
  margin: 0;
  background-color: #0A1523 !important;
  border: 1px solid #001D3D !important;
}
.section-lottery .lottery-info .form input:focus, .section-lottery .lottery-info .form input:select,
.section-lottery .lottery-info .form select:focus,
.section-lottery .lottery-info .form select:select {
  outline: 1px solid #FFFFFF;
}
.section-lottery .lottery-info .form select,
.section-lottery .lottery-info .form select::picker(select) {
  appearance: base-select !important;
}
.section-lottery .lottery-info .form select::picker(select) {
  margin-top: 0.25rem;
  border-radius: 4px;
  border: 1px solid #003566;
}
.section-lottery .lottery-info .form select {
  min-width: 80px;
}
.section-lottery .lottery-info .form option {
  padding: 0.5rem;
}
.section-lottery .lottery-info .form option:nth-of-type(odd) {
  background: #0B1019;
}
.section-lottery .lottery-info .form option:hover,
.section-lottery .lottery-info .form option:focus {
  background: #003566;
}
.section-lottery .lottery-info .form option::checkmark {
  display: none;
}
.section-lottery .lottery-info .form option {
  background-color: #0A1523;
}
.section-lottery .lottery-info .form p {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}
.section-lottery .lottery-info .form p b {
  font-weight: 600;
}
.section-lottery .pending {
  padding: 1rem;
  background-color: #001D3D;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.section-lottery .confirm {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
}
.section-lottery .confirm > div {
  background-color: #0A1523;
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.section-lottery .confirm h3 {
  margin-bottom: 1.5rem;
}
.section-lottery .confirm .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid #001D3D;
}
.section-lottery .confirm .field p {
  margin: 0;
}
@media (min-width: 1024px) {
  .section-lottery {
    grid-template-columns: 1fr 1fr;
    max-width: 1280px;
  }
  .section-lottery .lottery-image {
    margin-left: auto;
    width: 50vw;
    height: 50vw;
    max-width: 640px;
    max-height: 640px;
  }
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: #FFFFFF;
}

body {
  background-color: #0B1019;
}

.hidden {
  display: none !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

/*# sourceMappingURL=style.css.map */
