/*  Delete */
.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  background-color: hsl(0, 75%, 30%);
  padding: 1.25rem 1rem;
}
.header .brand > a {
  display: flex;
  height: 32px;
}
.header .btn-menu {
  display: flex !important;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.header .btn-menu:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.header .nav {
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 10;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 95%);
  padding: 0.25rem;
  overflow: hidden;
}
.header .nav .nav-link,
.header .nav .menu-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 0 0 4px hsl(0, 0%, 85%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  padding: 1rem;
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-size: 0.8125rem;
  text-decoration: none;
  text-wrap: nowrap;
}
.header .nav .nav-link svg *,
.header .nav .menu-option svg * {
  fill: #000000;
  stroke: #000000;
}
.header .nav .nav-link:hover,
.header .nav .menu-option:hover {
  box-shadow: 0 0 4px hsl(0, 0%, 70%);
}
.header .nav #id_menu_options {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.25rem 0 0 0.75rem;
}
.header .nav #id_menu_options .menu-option {
  border: 1px solid hsl(0, 0%, 70%);
}
@media (max-width: 768px) {
  .header .hidden-xs {
    display: none;
  }
}
@media (min-width: 768px) {
  .header .btn-menu {
    display: none !important;
  }
  .header .nav {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 0.25rem;
    border: none;
    background-color: transparent;
    overflow: visible;
  }
  .header .nav .nav-link {
    position: relative;
    cursor: pointer;
    box-shadow: none;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    padding: 0.75rem;
    color: #FFFFFF;
    text-wrap: nowrap;
  }
  .header .nav .nav-link svg * {
    fill: #FFFFFF;
  }
  .header .nav .nav-link:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .header .admin-options {
    position: relative;
  }
  .header .admin-options #id_menu_options {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    gap: 0;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    overflow: hidden;
    overflow: hidden;
  }
  .header .admin-options #id_menu_options .menu-option {
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    border-radius: 0;
    padding: 0.75rem 1rem;
  }
  .header .admin-options #id_menu_options .menu-option:last-of-type {
    border: none;
  }
  .header .admin-options #id_menu_options .menu-option:hover {
    background-color: hsl(0, 0%, 95%);
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 20%);
  padding: 1.5rem;
}
.footer p {
  font-weight: 600;
  color: #FFFFFF;
}
.footer .socials {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .socials .social {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 0.5rem;
}

#id_options_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  backdrop-filter: blur(4px);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#id_options_modal .dollar-update-form {
  background-color: hsl(0, 0%, 15%);
  padding: 1.25rem;
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 360px;
}
#id_options_modal .dollar-update-form h4 {
  font-size: 1rem;
  font-weight: 600;
}
#id_options_modal .dollar-update-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#id_options_modal .dollar-update-form input,
#id_options_modal .dollar-update-form textarea {
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.25rem;
  width: 100%;
}
#id_options_modal .dollar-update-form p {
  font-size: 0.875rem;
}
#id_options_modal .dollar-update-form .btn {
  width: fit-content;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #108dd6;
  font-size: 0.875rem;
  font-weight: 600;
}
#id_options_modal .btn-close {
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background-color: transparent;
  padding: 2px;
  display: flex;
  border-radius: 2px;
}
#id_options_modal .btn-close img {
  height: 20px;
  width: 20px;
}
#id_options_modal .btn-close:hover {
  background-color: hsl(0, 0%, 20%);
}
#id_options_modal .form-lottery-create {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: hsl(0, 0%, 15%);
  padding: 1.25rem;
  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 0.25rem;
}
#id_options_modal .form-lottery-create h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#id_options_modal .form-lottery-create .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#id_options_modal .form-lottery-create .form-field label {
  font-size: 0.875rem;
  font-weight: 600;
}
#id_options_modal .form-lottery-create .form-field input,
#id_options_modal .form-lottery-create .form-field textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid hsl(0, 0%, 40%);
}
#id_options_modal .form-lottery-create .form-image {
  display: flex;
  flex-direction: column;
  font-size: 0;
  color: transparent;
  gap: 0.5rem;
}
#id_options_modal .form-lottery-create .form-image a {
  font-size: 0.875rem;
}
#id_options_modal .form-lottery-create .form-image input {
  border: none;
  padding: 0;
  font-size: 0.875rem;
  background-color: hsl(0, 0%, 15%);
}
#id_options_modal .form-lottery-create .form-image input::file-selector-button {
  cursor: pointer;
  background-color: #108dd6;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  transition: all 0.2s;
}
#id_options_modal .form-lottery-create .form-image input::file-selector-button:hover {
  background-color: #0e76b3;
}
#id_options_modal .form-lottery-create .form-image br {
  display: none;
}
#id_options_modal .form-lottery-create .form-description textarea {
  font-size: 1.25rem;
}
#id_options_modal .form-lottery-create .form-date {
  color-scheme: dark;
}
#id_options_modal .form-lottery-create .btn-submit {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  background-color: #108dd6;
  font-weight: 600;
  transition: all 0.2s;
}
#id_options_modal .form-lottery-create .btn-submit:hover {
  background-color: #0e76b3;
}

.login {
  display: flex;
  position: relative;
  padding: 0.5rem;
  min-height: 100vh;
}
.login .form {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 1px solid hsl(0, 0%, 10%);
  background-color: #FFFFFF;
  height: fit-content;
  width: 100%;
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.15);
  max-width: 480px;
}
.login .form > div {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login .form > div:last-of-type {
  border: none;
}
.login .form h2 {
  font-weight: 300;
  font-size: 1.25rem;
}
.login .form h4 {
  font-style: italic;
  font-weight: 600;
}
.login .form .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login .form .form-field input {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 30%);
  padding: 0.75rem;
  font-size: 0.875rem;
}
.login .form .btn-submit {
  cursor: pointer;
  padding: 0.75rem;
  font-size: 0.875rem;
  background-color: hsl(0, 0%, 10%);
  color: #FFFFFF;
  font-weight: 700;
  border: 1px solid hsl(0, 0%, 10%);
}
.login .form .btn-submit:hover {
  background-color: white;
  color: hsl(0, 0%, 10%);
}
.login .form p {
  font-size: 0.875rem;
}
.login .form p a {
  font-weight: 700;
}
.login .background-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.signup {
  display: flex;
  position: relative;
  min-height: calc(100vh - 68px);
}
.signup .form {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: hsl(0, 0%, 90%);
  width: 100%;
  max-width: none;
  margin: 0;
  border: none;
  border-radius: 0;
  height: auto;
}
.signup .form > div {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.signup .form > div:last-child {
  border: none;
}
.signup .form .label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}
.signup .form .input {
  background-color: transparent !important;
  border: 1px solid hsl(0, 0%, 70%);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-size: 0.875rem;
}
.signup .form .button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  background-color: #701010;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #701010;
  transition: all 0.1s;
}
.signup .form .button:hover {
  background-color: hsl(0, 0%, 70%);
}
.signup .form .errors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.signup .form .errors p {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgba(195, 112, 104, 0.8);
}
.signup .form:has(.error) .input {
  outline: 1px solid #C37068;
}
.signup .form .form-fields {
  display: flex;
  flex-direction: column;
}
.signup .form small {
  font-size: 0.875rem;
}
.signup .form small a,
.signup .form small b {
  color: hsl(0, 75%, 47%);
}
.signup .form h2 {
  font-weight: 300;
  margin-bottom: 0.75rem;
  color: hsl(0, 75%, 47%);
  font-size: 1.25rem;
}
.signup .form hr {
  width: calc(100% + 4rem);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1.5rem -2rem;
}
.signup .form h3 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
}
.signup .form h4 {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 0.875rem;
}
.signup .input-phone-number {
  display: flex;
  gap: 0.25rem;
}
.signup .input-phone-number input,
.signup .input-phone-number select {
  appearance: none;
  background-color: transparent !important;
  border: 1px solid hsl(0, 0%, 70%);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-size: 0.875rem;
}
.signup .input-phone-number input option,
.signup .input-phone-number select option {
  background-color: hsl(0, 0%, 90%);
}
.signup .input-phone-number #id_phone_number_0 {
  width: 40%;
}
.signup .input-phone-number #id_phone_number_1 {
  width: 60%;
}
.signup .background-login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .signup .form {
    max-width: 480px;
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .signup .form > div {
    padding: 2rem;
  }
}

.home {
  min-height: 100vh;
  /*
  .section-lotteries {
      padding: 4rem 2rem;
      width: fit-content;
      margin: auto;

      .header-section {
          font-weight: 600;
          margin-bottom: 2rem;
      }

      .lotteries {
          display: grid;
          gap: 0.75rem;

          .lottery {
              box-shadow: 0 0 8px $black;
              border-radius: 4px;
              overflow: hidden;
              text-decoration: none;
              height: fit-content;
              background-color: $grey-850;
              transition: all 0.1s;
              border: 1px solid rgba($grey-500, $alpha: 0.5);
              max-width: 480px;


              .lottery-image {
                  width: calc(100vw - 4rem);
                  height: calc(100vw - 4rem);
                  max-width: 480px;
                  max-height: 480px;
                  position: relative;

                  .closed {
                      position: absolute;
                      top: 0;
                      right: 0;
                      left: 0;
                      bottom: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: rgba($black, $alpha: 0.5);
                      backdrop-filter: blur(1px);

                      p {
                          font-size: 1.25rem;
                          font-weight: 700;
                          color: rgba($white, 0.7);
                          background-color: rgba($danger-color-2, $alpha: 0.25);
                          border: 1px solid rgba($danger-color-2, $alpha: 0.25);
                          padding: 1.5rem;
                          border-radius: 2px;
                      }
                  }
              }

              .lottery-info {
                  padding: 1rem 0.75rem;

                  h4 {

                      font-weight: 600;
                      line-height: 1.25rem;
                      font-size: 1rem;
                      height: 2.5rem;
                      margin-bottom: 0.75rem;
                      overflow: hidden;
                  }

                  p,
                  b {
                      font-size: 0.875rem;
                      margin-bottom: 0.25rem;
                  }

                  b {
                      font-weight: 600;
                  }
              }

              &:hover {
                  background-color: $grey-800;
              }

              &:has(.closed) {
                  border: 1px solid rgba($danger-color-2, $alpha: 0.5);

                  &:hover {
                      background-color: $background-color-2;
                  }
              }
          }

          .empty {
              grid-column: span 4;
              background-color: rgba($tertiary-color, $alpha: 0.05);
              padding: 1rem;
              border-radius: 0.25rem;

              p {
                  color: $tertiary-color;
                  font-size: 0.875rem;
              }
          }

          @include sm {
              $lottery-size: 280px;
              grid-template-columns: repeat(2, minmax(0, $lottery-size));

              .lottery-image {
                  width: $lottery-size !important;
                  height: $lottery-size !important;
              }

          }

          @include md {
              $lottery-size: 280px;
              grid-template-columns: repeat(3, minmax(0, $lottery-size));

          }

          @include lg {
              $lottery-size: 280px;
              grid-template-columns: repeat(4, minmax(0, $lottery-size));

          }
      }
  }*/
}
.home #id_carousel {
  display: flex;
  position: relative;
  height: 50vw;
  max-height: 480px;
}
.home #id_carousel .carousel-image {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
}
.home #id_carousel .carousel-image-hide {
  opacity: 0;
  pointer-events: none;
}
.home #id_carousel .btn-carousel {
  position: absolute;
  background-color: transparent;
  border: none;
}
.home #id_carousel .btn-prev,
.home #id_carousel .btn-next {
  top: calc(50% - 1rem);
}
.home #id_carousel .btn-prev img,
.home #id_carousel .btn-next img {
  width: 32px;
  height: 32px;
}
.home #id_carousel .btn-prev {
  left: 1rem;
}
.home #id_carousel .btn-next {
  right: 1rem;
}
@media (min-width: 768px) {
  .home #id_carousel .btn-prev,
  .home #id_carousel .btn-next {
    top: calc(50% - 1.5rem);
  }
  .home #id_carousel .btn-prev img,
  .home #id_carousel .btn-next img {
    width: 48px;
    height: 48px;
  }
}
.home .section-lotteries {
  padding: 4rem 2rem;
  width: fit-content;
  margin: auto;
}
.home .section-lotteries .header-section {
  font-weight: 600;
  margin-bottom: 2rem;
}
.home .section-lotteries .lotteries {
  display: grid;
  gap: 0.75rem;
}
.home .section-lotteries .lotteries .lottery {
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-decoration: none;
  height: fit-content;
  background-color: #FFFFFF;
  transition: all 0.1s;
  border: 1px solid hsl(0, 0%, 20%);
  max-width: 480px;
}
.home .section-lotteries .lotteries .lottery .lottery-image {
  width: calc(100vw - 4rem);
  height: calc(100vw - 4rem);
  max-width: 480px;
  max-height: 480px;
  position: relative;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  /*
  .closed {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($black, $alpha: 0.5);
      backdrop-filter: blur(1px);

      p {
          font-size: 1.25rem;
          font-weight: 700;
          color: rgba($white, 0.7);
          background-color: rgba($danger-color-2, $alpha: 0.25);
          border: 1px solid rgba($danger-color-2, $alpha: 0.25);
          padding: 1.5rem;
          border-radius: 2px;
      }
  }*/
}
.home .section-lotteries .lotteries .lottery .lottery-info {
  padding: 1rem 0.75rem;
}
.home .section-lotteries .lotteries .lottery .lottery-info h4 {
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 1rem;
  height: 2.5rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
.home .section-lotteries .lotteries .lottery .lottery-info p,
.home .section-lotteries .lotteries .lottery .lottery-info b {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
.home .section-lotteries .lotteries .lottery .lottery-info b {
  font-weight: 600;
}
.home .section-lotteries .lotteries .lottery:hover {
  background-color: hsl(0, 0%, 98%);
}
.home .section-lotteries .lotteries .lottery:has(.closed) {
  border: 1px solid rgba(149.634, 43.605, 33.966, 0.5);
}
.home .section-lotteries .lotteries .lottery:has(.closed):hover {
  background-color: hsl(0, 0%, 85%);
}
@media (min-width: 768px) {
  .home .section-lotteries .lotteries {
    grid-template-columns: repeat(2, minmax(0, 280px));
  }
  .home .section-lotteries .lotteries .lottery-image {
    width: 280px !important;
    height: 280px !important;
  }
}
@media (min-width: 1024px) {
  .home .section-lotteries .lotteries {
    grid-template-columns: repeat(3, minmax(0, 280px));
  }
}
@media (min-width: 1280px) {
  .home .section-lotteries .lotteries {
    grid-template-columns: repeat(4, minmax(0, 280px));
  }
}

.section-lottery {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background-color: hsl(0, 0%, 90%);
  max-width: 480px;
  margin: auto;
  min-height: 100vh;
}
.section-lottery .no-login {
  border: 1px solid #108dd6;
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
.section-lottery .no-login a {
  color: #108dd6;
  font-weight: 600;
}
.section-lottery .lottery-image-tickets {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.section-lottery .lottery-image-tickets .lottery-image {
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
}
.section-lottery .lottery-image-tickets .lottery-image img {
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  max-width: calc(480px - 2rem);
  max-height: calc(480px - 2rem);
}
.section-lottery .lottery-image-tickets .lottery-tickets h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.section-lottery .lottery-image-tickets .lottery-tickets .tickets-empty {
  font-size: 0.875rem;
  padding: 0.75rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.25rem;
}
.section-lottery .lottery-image-tickets .lottery-tickets .tickets {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.25rem;
}
.section-lottery .lottery-image-tickets .lottery-tickets .tickets .ticket {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid hsl(0, 0%, 20%);
  text-align: center;
  font-size: 0.875rem;
}
.section-lottery .lottery-image-tickets .issues {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.25rem;
}
.section-lottery .lottery-image-tickets .issues .contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-lottery .lottery-info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.section-lottery .lottery-info h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
.section-lottery .lottery-info .lottery-info-field {
  display: flex;
  gap: 0.25rem;
}
.section-lottery .lottery-info .lottery-info-field .info-field-label {
  font-weight: 600;
}
.section-lottery .lottery-info .div-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-lottery .lottery-info .div-price .price {
  font-size: 1.25rem;
  font-weight: 600;
}
.section-lottery .lottery-info .div-price .ticket-1 {
  font-size: 1rem;
  font-weight: 400;
}
.section-lottery .lottery-info .div-order-create {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.section-lottery .lottery-info hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 20%);
}
.section-lottery .lottery-info .pending-order {
  padding: 0.75rem;
  border: 1px solid hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.25rem;
}
.section-lottery .lottery-info .pending-order p {
  color: hsl(0, 0%, 90%);
  font-weight: 600;
  font-size: 0.875rem;
}
.section-lottery .lottery-info .payment-methods {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem;
}
.section-lottery .lottery-info .payment-methods .payment-method {
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid hsl(0, 0%, 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem;
}
.section-lottery .lottery-info .payment-methods .payment-method img {
  height: 32px;
  width: 32px;
}
.section-lottery .lottery-info .payment-methods .payment-method:hover {
  background-color: hsl(0, 0%, 15%);
}
.section-lottery .lottery-info .form-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-lottery .lottery-info .form-quantity label {
  font-weight: 600;
}
.section-lottery .lottery-info .form-quantity select {
  appearance: base-select;
  border: none;
  padding: 0;
}
.section-lottery .lottery-info .form-order-create {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-lottery .lottery-info .form-order-create .form-info {
  background-color: hsl(0, 0%, 85%);
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid hsl(0, 0%, 20%);
}
.section-lottery .lottery-info .form-order-create .form-info h5 {
  font-size: 1rem;
}
.section-lottery .lottery-info .form-order-create .form-info .info-field {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}
.section-lottery .lottery-info .form-order-create .form-input input,
.section-lottery .lottery-info .form-order-create .form-input select {
  appearance: base-select;
  width: 100%;
  border: 1px solid hsl(0, 0%, 70%);
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
.section-lottery .lottery-info .form-order-create .form-input .error {
  margin-top: 0.25rem;
  grid-column: span 2;
}
.section-lottery .lottery-info .form-order-create .form-input .error p {
  color: #C37068;
}
.section-lottery .lottery-info .form-order-create .form-input:has(.error) input,
.section-lottery .lottery-info .form-order-create .form-input:has(.error) select {
  border: 1px solid #C37068;
}
.section-lottery .lottery-info .form-order-create .split-dni {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 1fr 3fr;
}
.section-lottery .lottery-info .form-order-create .info-pay {
  font-size: 0.875rem;
}
.section-lottery .lottery-info .form-order-create .button-pay {
  cursor: pointer;
  background-color: #108dd6;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
}
.section-lottery .lottery-info .not-available {
  padding: 0.75rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.25rem;
}
.section-lottery .lottery-info .lottery-closed {
  padding: 0.75rem;
  background-color: rgba(195, 112, 104, 0.1);
  border: 1px solid rgba(195, 112, 104, 0.4);
  border-radius: 0.25rem;
}
.section-lottery .lottery-info .lottery-closed p {
  color: #C37068;
  font-size: 0.875rem;
  font-weight: 500;
}
.section-lottery .lottery-info .button-admin-option {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: 1px solid hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 20%);
  transition: all 0.2s;
}
.section-lottery .lottery-info .button-admin-option:hover {
  background-color: hsl(0, 0%, 30%);
}
.section-lottery .form-lottery-update {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-lottery .form-lottery-update .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.section-lottery .form-lottery-update .form-field label {
  font-size: 0.875rem;
  font-weight: 600;
}
.section-lottery .form-lottery-update .form-field input,
.section-lottery .form-lottery-update .form-field textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid hsl(0, 0%, 40%);
}
.section-lottery .form-lottery-update .form-image {
  display: flex;
  flex-direction: column;
  font-size: 0;
  color: transparent;
  gap: 0.5rem;
}
.section-lottery .form-lottery-update .form-image a {
  font-size: 0.875rem;
}
.section-lottery .form-lottery-update .form-image input {
  border: none;
  padding: 0;
  font-size: 0.875rem;
}
.section-lottery .form-lottery-update .form-image input::file-selector-button {
  cursor: pointer;
  background-color: #108dd6;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  transition: all 0.2s;
}
.section-lottery .form-lottery-update .form-image input::file-selector-button:hover {
  background-color: #0e76b3;
}
.section-lottery .form-lottery-update .form-image br {
  display: none;
}
.section-lottery .form-lottery-update .form-description textarea {
  font-size: 1.25rem;
}
.section-lottery .form-lottery-update .form-date {
  color-scheme: dark;
}
.section-lottery .form-lottery-update .form-closed {
  display: flex;
  flex-direction: row;
}
.section-lottery .form-lottery-update .form-closed input {
  color-scheme: dark;
  width: fit-content;
}
.section-lottery .form-lottery-update .btn-submit {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #108dd6;
  font-weight: 600;
  transition: all 0.2s;
}
.section-lottery .form-lottery-update .btn-submit:hover {
  background-color: #0e76b3;
}
@media (min-width: 768px) {
  .section-lottery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1280px;
  }
  .section-lottery .lottery-image-tickets .lottery-image img {
    width: calc((100vw - 3rem) / 2);
    height: calc((100vw - 3rem) / 2);
    max-width: calc((1280px - 3rem) / 2);
    max-height: calc((1280px - 3rem) / 2);
  }
  .section-lottery .lottery-image-tickets .tickets {
    grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
  }
  .section-lottery .payment-methods {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.2);
  backdrop-filter: blur(4px);
  z-index: 50;
}

.modal-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.modal-admin .admin-orders {
  background-color: hsl(0, 0%, 15%);
  padding: 1.25rem;
  position: relative;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 480px;
  border: 1px solid hsl(0, 0%, 30%);
}
.modal-admin .admin-orders h4 {
  margin-bottom: 1rem;
}
.modal-admin .admin-orders .btn-close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  padding: 2px;
  display: flex;
  border-radius: 2px;
}
.modal-admin .admin-orders .btn-close img {
  height: 20px;
  width: 20px;
}
.modal-admin .admin-orders .btn-close:hover {
  background-color: hsl(0, 0%, 20%);
}
.modal-admin .admin-orders .order-list-empty {
  padding: 1rem 0.75rem;
  background-color: hsl(0, 0%, 30%);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.modal-admin .admin-orders .order-list-filter input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 30%);
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}
.modal-admin .admin-orders .order-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100vh - 12rem);
  overflow: overlay;
  padding-right: 0.25rem;
  /* Track */
  /* Handle */
}
.modal-admin .admin-orders .order-list::-webkit-scrollbar {
  width: 4px;
}
.modal-admin .admin-orders .order-list::-webkit-scrollbar-track {
  background: hsl(0, 0%, 20%);
}
.modal-admin .admin-orders .order-list::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 30%);
}
.modal-admin .admin-orders .order-list .admin-order {
  padding: 0.75rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.modal-admin .admin-orders .order-list .admin-order hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 40%);
  margin: 0;
}
.modal-admin .admin-orders .order-list .admin-order .order-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.modal-admin .admin-orders .order-list .admin-order .order-header .order-email {
  font-size: 0.875rem;
}
.modal-admin .admin-orders .order-list .admin-order .order-header .order-quantity {
  font-size: 0.875rem;
  font-weight: 600;
}
.modal-admin .admin-orders .order-list .admin-order .order-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: center;
}
.modal-admin .admin-orders .order-list .admin-order .order-info .payment-method {
  font-size: 0.875rem;
  font-weight: 600;
}
.modal-admin .admin-orders .order-list .admin-order .order-info .label {
  font-weight: 600;
  font-size: 0.8125rem;
}
.modal-admin .admin-orders .order-list .admin-order .order-info .field,
.modal-admin .admin-orders .order-list .admin-order .order-info .date {
  text-align: end;
  font-size: 0.8125rem;
}
.modal-admin .admin-orders .order-list .admin-order .order-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
.modal-admin .admin-orders .order-list .admin-order .order-footer .status {
  padding: 0.25rem 0.5rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.8125rem;
  border-radius: 2px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-admin .admin-orders .order-list .admin-order .order-footer .status-0 {
  background-color: #967300;
}
.modal-admin .admin-orders .order-list .admin-order .order-footer .status-1 {
  background-color: #268337;
}
.modal-admin .admin-orders .order-list .admin-order .order-footer .status-2 {
  background-color: hsl(5, 63%, 36%);
}
.modal-admin .admin-orders .order-list .admin-order .admin-tickets {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.25rem;
}
.modal-admin .admin-orders .order-list .admin-order .admin-tickets .ticket {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.25rem;
  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 0.25rem;
}
.modal-admin .admin-orders .order-list .admin-order .buttons {
  display: flex;
  justify-content: end;
  gap: 0.25rem;
}
.modal-admin .admin-orders .order-list .admin-order .buttons .btn {
  cursor: pointer;
  font-size: 0.8125rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 20%);
  font-weight: 600;
}
.modal-admin .admin-orders .order-list .admin-order .buttons .btn-decline {
  border: 1px solid #C37068;
  color: #C37068;
}
.modal-admin .admin-orders .order-list .admin-order .buttons .btn-decline:hover {
  background-color: rgba(195, 112, 104, 0.1);
}
.modal-admin .admin-orders .order-list .admin-order .buttons .btn-confirm {
  border: 1px solid #68C379;
  color: #68C379;
}
.modal-admin .admin-orders .order-list .admin-order .buttons .btn-confirm:hover {
  background-color: rgba(104, 195, 121, 0.1);
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: #000000;
}

body {
  background-color: #FFFFFF;
}

.hidden {
  display: none !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

button {
  background-color: hsl(0, 0%, 85%);
}

input, select, textarea {
  background-color: hsl(0, 0%, 90%);
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important;
  appearance: none;
}

/*# sourceMappingURL=style.css.map */
