@forward './pages/login';
@forward './components/header';
@use 'variables' as v;
@use 'responsive' as r;


* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: v.$primary-color;
    
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    color: v.$white;
}

h1, h2, h3, h4, p {
    color: v.$white;
    margin: 0;
}

.page {
    min-height: 100vh;
}