@use "../../node_modules/@picocss/pico/scss/pico" with ($theme-color: "slate",

);
@use "../../node_modules/@picocss/pico/scss/colors" as *;
@use "variables" as *;

@forward 'components/header';
@forward 'pages/login';
@forward 'pages/home';
@forward 'pages/lottery';


:root {
    font-size: 100%;
}

html {
    background-color: $slate-950;
}

.home-page {
    padding: 0 !important;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    background-color: $slate-900;
}

.container-login {
    max-width: 320px;
    padding: 4rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
}