@use '../variables' as *;
@use '../responsive' as *;


.section-lotteries {
    padding: 4rem 2rem;
    max-width: $lg;
    width: fit-content;
    margin: auto;

    h2 {
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .lotteries {
        $lottery-size: 280px;
        display: grid;
        grid-template-columns: $lottery-size;
        gap: 1.5rem;

        .lottery {
            background-color: $background-color-2;
            border-radius: 4px;
            overflow: hidden;

            .lottery-image {
                max-width: $lottery-size;
                width: 100%;
                max-height: $lottery-size;
                height: 100%;
                position: relative;

                .button-ticket {
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba($background-color-2, $alpha: 0.5);
                    backdrop-filter: blur(1px);

                    a {
                        background-color: rgba($secondary-color, $alpha: 0.8);
                        color: $background-color;
                        text-decoration: none;
                        font-weight: 600;
                        padding: 0.5rem 1rem;
                        border-radius: 4px;
                    }
                }
            }

            .lottery-info {
                padding: 0.75rem;

                h4 {

                    font-weight: 500;
                    line-height: 1.25rem;
                    font-size: 0.875rem;
                    height: 2.5rem;
                    margin-bottom: 0.5rem;
                }

                p,
                b {
                    font-size: 0.8125rem;
                    color: $secondary-color;
                    margin-bottom: 0.25rem;
                }
            }


            &:hover {
                .button-ticket {
                    display: flex;
                }
            }
        }

        .empty {
            grid-column: span 4;
            background-color: rgba($tertiary-color, $alpha: 0.05);
            padding: 1rem;
            border-radius: 0.25rem;

            p {
                color: $tertiary-color;
            }
        }

        @include sm {
            grid-template-columns: repeat(2, minmax(0, $lottery-size));
            ;
        }

        @include md {
            grid-template-columns: repeat(3, minmax(0, $lottery-size));
            ;
        }

        @include lg {
            grid-template-columns: repeat(4, minmax(0, $lottery-size));
            ;
        }


    }
}