@use '../variables' as *;
@use '../responsive' as *;


.home {
    min-height: 100vh;

    #id_carousel {
        height: 100vw;
        max-height: 520px;
        min-height: 360px;
        overflow: hidden;
        position: relative;

        #id_carousel_image {
            width: 100vw;
        }

        .btn-carousel {
            position: absolute;
            background-color: transparent;
            border: none;
        }

        .btn-prev,
        .btn-next {
            top: calc(50% - 1rem);

            img {
                width: 32px;
                height: 32px;
            }
        }

        .btn-prev {
            left: 1rem;
        }

        .btn-next {
            right: 1rem;
        }

        @include sm {

            .btn-prev,
            .btn-next {

                top: calc(50% - 1.5rem);

                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }

    .section-lotteries {
        padding: 4rem 2rem;
        width: fit-content;
        margin: auto;

        .header-section {
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .lotteries {
            display: grid;
            gap: 0.75rem;

            .lottery {
                box-shadow: 0 0 8px $black;
                border-radius: 4px;
                overflow: hidden;
                text-decoration: none;
                height: fit-content;
                background-color: $grey-850;
                transition: all 0.1s;
                border: 1px solid rgba($grey-500, $alpha: 0.5);
                max-width: 480px;


                .lottery-image {
                    width: calc(100vw - 4rem);
                    height: calc(100vw - 4rem);
                    max-width: 480px;
                    max-height: 480px;
                    position: relative;

                    .closed {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba($black, $alpha: 0.5);
                        backdrop-filter: blur(1px);

                        p {
                            font-size: 1.25rem;
                            font-weight: 700;
                            color: rgba($white, 0.7);
                            background-color: rgba($danger-color-2, $alpha: 0.25);
                            border: 1px solid rgba($danger-color-2, $alpha: 0.25);
                            padding: 1.5rem;
                            border-radius: 2px;
                        }
                    }
                }

                .lottery-info {
                    padding: 1rem 0.75rem;

                    h4 {

                        font-weight: 600;
                        line-height: 1.25rem;
                        font-size: 1rem;
                        height: 2.5rem;
                        margin-bottom: 0.75rem;
                        overflow: hidden;
                    }

                    p,
                    b {
                        font-size: 0.875rem;
                        margin-bottom: 0.25rem;
                    }

                    b {
                        font-weight: 600;
                    }
                }

                &:hover {
                    background-color: $grey-800;
                }

                &:has(.closed) {
                    border: 1px solid rgba($danger-color-2, $alpha: 0.5);

                    &:hover {
                        background-color: $background-color-2;
                    }
                }
            }

            .empty {
                grid-column: span 4;
                background-color: rgba($tertiary-color, $alpha: 0.05);
                padding: 1rem;
                border-radius: 0.25rem;

                p {
                    color: $tertiary-color;
                    font-size: 0.875rem;
                }
            }

            @include sm {
                $lottery-size: 280px;
                grid-template-columns: repeat(2, minmax(0, $lottery-size));

                .lottery-image {
                    width: $lottery-size !important;
                    height: $lottery-size !important;
                }

            }

            @include md {
                $lottery-size: 280px;
                grid-template-columns: repeat(3, minmax(0, $lottery-size));

            }

            @include lg {
                $lottery-size: 280px;
                grid-template-columns: repeat(4, minmax(0, $lottery-size));

            }
        }
    }
}