@use '../variables' as *;
@use '../responsive' as *;

.login {
    display: flex;
    position: relative;
    min-height: calc(100vh - 68px);

    form {
        border-right: 1px solid $border-color;
    }

    h4 {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .background-login {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .form {
        padding: 4rem 2rem;
    }

    @include xs {
        .form {
            width: 100%;
            border-right: none;
        }
    }
}