@use '../variables' as *;
@use '../responsive' as *;


.login {
    display: flex;
    position: relative;
    min-height: calc(100vh - 68px);

    .form {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: $background-color;
        width: 100%;
        max-width: none;
        margin: 0;
        border: none;
        border-radius: 0;
        height: auto;

        &>div {
            padding: 1rem;
            border-bottom: 1px solid rgba($white, $alpha: 0.15);

            &:last-child {
                border: none;
            }
        }

        .label {
            margin-bottom: 0.25rem;
            font-size: 0.875rem;
        }

        .input {
            background-color: transparent !important;
            border: 1px solid $primary-color;
            padding: 0.5rem;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
            color: $white;

            &:last-of-type {
                margin-bottom: 0.5rem;
            }
        }

        .button {
            cursor: pointer;
            padding: 0.5rem 1.5rem;
            width: fit-content;
            background-color: $primary-color;
            font-weight: 500;
            border: none;
            border-radius: 0.25rem;
            font-size: 0.875rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            border: 1px solid $primary-color;
            transition: all 0.1s;

            &:hover {
                background-color: $border-color;
            }
        }

        .errors {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            p {
                font-size: 0.875rem;
                font-weight: 600;
                color: rgba($danger, $alpha: 0.8);
            }
        }

        &:has(.error) {
            .input {
                outline: 1px solid $danger;
            }
        }

        .form-fields {
            display: flex;
            flex-direction: column;
        }

        small {
            font-size: 0.875rem;

            a,
            b {
                color: $secondary-color;
            }
        }


        h2 {
            font-weight: 300;
            margin-bottom: 0.75rem;
            color: $secondary-color;
            font-size: 1.25rem;
        }

        hr {
            width: calc(100% + 4rem);
            border: none;
            border-bottom: 1px solid rgba($white, $alpha: 0.1);
            margin: 1.5rem -2rem;
        }

        h3 {
            margin-bottom: 1.25rem;
            font-size: 1.125rem;
            font-weight: 300;
            color: rgba($white, $alpha: 0.9);
        }

        h4 {
            font-weight: 500;
            line-height: 1.5rem;
            font-size: 0.875rem;
        }
    }

    .background-login {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    @include sm {
        .form {

            max-width: 480px;
            width: 100%;
            height: fit-content;
            border: 1px solid rgba($white, $alpha: 0.15);
            border-radius: 0.5rem;
            margin: 1rem;

            &>div {
                padding: 2rem;


            }
        }
    }

}