#id_login_page {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .login-page__container {
        padding: 0.5rem;
        .login-form {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            
        }
        .login-form__input {
            width: 100%;
            padding: 0.5rem;
            border: none;
            border-radius: 2px;
        }
    }

    .login-page__image {
        background-color: #fff;
    }

}
