@use '../variables' as *;
@use '../responsive' as *;


.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $grey-20;
    padding: 1.5rem;
    p {
        font-weight: 600;
        color: $white;
    }
    .socials {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .social {
            display: flex;
            align-items: center;
            font-weight: 600;
            gap: 0.5rem;
        }
    }
}