@use '../variables' as *;
@use '../responsive' as *;


.header {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    justify-content: space-between;
    position: sticky;
    border-bottom: 1px solid rgba($white, $alpha: 0.15);
    z-index: 20;
    top: 0;
    background-color: $grey-900;

    .brand {
        &>a {
            display: flex;
        }
    }

    .btn-menu {
        cursor: pointer;
        display: flex !important;
        border-radius: 0.25rem;
        padding: 0.5rem;
        transition: all 0.1s;

        &:hover {
            background-color: $background-color-2;
        }
    }

    .nav {
        display: flex;
        position: absolute;
        top: calc(100% + 0.25rem);
        background-color: $background-color-2;
        left: 0.25rem;
        right: 0.25rem;
        flex-direction: column;
        border-radius: 0.25rem;
        border: 1px solid $border-color;
        gap: 0;
        z-index: 10;

        .nav-link {
            cursor: pointer;
            display: flex;
            font-size: 0.875rem;
            font-weight: 700;
            text-decoration: none;
            gap: 0.25rem;
            padding: 1rem;
            transition: all 0.1s;
            color: $white;
            align-items: end !important;
            width: 100%;
            border-bottom: 1px solid $border-color;

            img {
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: $grey-850;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }

        #id_menu_options {
            background-color: $grey-800;

            .menu-option {
                cursor: pointer;
                padding: 1rem;
                text-wrap: nowrap;
                display: flex;
                align-items: center;
                gap: 0.25rem;
                border-bottom: 1px solid $grey-700;

                p {
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: $grey-200;
                }


                &:hover {
                    background-color: $grey-700;
                }
            }
        }
    }

    @include xs {
        .hidden-xs {
            display: none;
        }
    }

    @include sm {
        .btn-menu {
            display: none !important;
        }
        .nav {
            position: static;
            display: flex !important;
            flex-direction: row;
            gap: 0.25rem;

            background-color: transparent;
            border: none;

            .nav-link {
                position: relative;
                cursor: pointer;
                text-wrap: nowrap;
                border: none;
                padding: 0.75rem;
            }
        }
        .admin-options {
            position: relative;
            #id_menu_options {
                position: absolute;
                top: calc(100% + 0.5rem);
                right: 0;
                border-radius: 0.25rem;
                overflow: hidden;
                border: 1px solid $grey-700;
                .menu-option {
                    padding: 0.75rem 2rem 0.75rem 0.75rem;
                }
            }
        }
    }

/*
    @include sm {
        .btn-menu {
            display: none !important;
        }

        .nav {
            position: static;
            display: flex !important;
            flex-direction: row;
            gap: 0.25rem;

            background-color: transparent;
            border: none;

            .nav-link {
                cursor: pointer;
                text-wrap: nowrap;
                border: none;
                padding: 0.75rem;
            }
        }

        /*
        .admin-options {
            position: relative;

            #id_menu_options {
                position: absolute;
                top: calc(100% + 0.5rem);
                right: 0;
                background-color: $grey-850;
                border-radius: 0.25rem;
                border: 1px solid $grey-700;

                .menu-option {
                    cursor: pointer;
                    padding: 0.75rem 2rem 0.75rem 0.75rem;
                    text-wrap: nowrap;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;

                    p {
                        font-size: 0.875rem;
                        font-weight: 600;
                        color: $grey-200;
                    }

                    &:first-of-type {
                        border-bottom: 1px solid $grey-700;
                    }

                    &:hover {
                        background-color: $grey-800;
                    }
                }
            }
        }
    }*/
}