@use '../variables' as *;
@use '../responsive' as *;

header {
    padding: 0.75rem 1.5rem;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba($white, $alpha: 0.4);

    nav {
        gap: 0.25rem;
        z-index: 10;

        a {
            font-size: 0.875rem;
            font-weight: 700;
            text-decoration: none;
            gap: 0.25rem;
            padding: 0.75rem;
            border-radius: 4px;
            transition: all 0.1s;
            color: $white;
            align-items: end !important;

            img {
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: $border-color;
            }
        }
    }

    .btn-menu {
        display: none !important;
    }

    @include xs {
        .btn-menu {
            display: flex !important;
            cursor: pointer;
            border-radius: 0.25rem;
            padding: 0.5rem;
            transition: all 0.1s;

            &:hover {
                background-color: $background-color-2;

            }
        }

        nav {
            display: none;
            position: absolute;
            top: calc(100% + 0.25rem);
            background-color: $background-color-2;
            left: 0.25rem;
            right: 0.25rem;
            flex-direction: column;
            border-radius: 0.25rem;
            border: 1px solid $border-color;
            gap: 0;

            a {
                width: 100%;
                border-bottom: 1px solid $border-color;
                padding: 1rem;

                &:last-of-type {
                    border-bottom: none;

                }
            }
        }
    }

    @include sm {
        nav {
            display: flex !important;
        }
    }
}