@use "../../../node_modules/@picocss/pico/scss/colors" as *;
@use "../variables" as *;


.header {
    padding: 0 1.5rem;
    background-color: $slate-950;
    border-bottom: 1px solid $slate-850;
    position: relative;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
    }

    .nav-btn-menu {
        display: flex;
        padding: 0.25rem;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: rgba($slate-100, $alpha: 0.05);
        }
    }

    .nav-links {
        gap: 1rem;


        li {

            padding: 0;
        }

        .nav-link {
            font-size: 0.875rem;
            display: flex;
            margin: 0;
            align-items: center;
            gap: 0.25rem;
            text-wrap: nowrap;
            text-decoration: none;
            color: $slate-200;
            font-weight: 400;


            img {
                width: 18px;
                height: 18px;
            }

            &:hover {
                background-color: rgba($slate-100, $alpha: 0.05);
            }

        }
    }

    @include sm {
        .nav-btn-menu {
            display: none;

        }

        .nav-links {
            display: flex !important;
        }


    }

    @include xs {
        .nav-links {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            flex-direction: column;
            margin: 0;
            gap: 0;
            background-color: $slate-900;
            border-top: 1px solid $slate-850;

            li {
                width: 100%;

                .nav-link {
                    border-radius: 0;
                    padding: .75rem 0.5rem;
                    margin: 0;

                    border-bottom: 1px solid $slate-850;
                }
            }


            /*

            width: 100%;
            position: absolute;
            flex-direction: column;
            left: 0;
            right: 0;
            top: 100%;
            background-color: $slate-900;
            gap: 0;
            li {
                width: 100%;
                padding: 0.5rem;
                display: flex;

            }

            .nav-link {
                width: 100%;
                img {
                    width: 18px;
                    height: 18px;
                }

                
            }*/
        }
    }
}